* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
    padding: 20px 60px;
  font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}
